<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация обращения</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
<form id="main-form" method="post">
    <div class="field">
        <label for="surname">Фамилия:</label>
        <input type="text" name="surname" placeholder="Фамилия" id="surname"><br><br>
    </div>
    <div class="field">
        <label for="name">Имя:</label>
        <input type="text" name="name" placeholder="Имя" id="name"><br><br>
    </div>
    <div class="field">
        <label for="patronymic">Отчество:</label>
        <input type="text" name="patronymic" placeholder="Отчество" id="patronymic"><br><br>
    </div>
    <div class="field">
        <label for="phoneNum">Телефон:</label>
        <input type="text" name="phoneNum" placeholder="Телефон" id="phoneNum"><br><br>
    </div>
    <div class="field">
        <label for="text">Обращение:</label>
        <textarea name="text" placeholder="Ваше обращение" id="text"></textarea><br>
    </div>
    <button onclick="return onClickButton(this)">Нажмите для отправки</button>


</form>

<script src="/js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>